[miner]
## If you are a miner
keyfile = [Your comx key name]
url = http://127.0.0.1:5000/ [IP address and port where your miner service is running]

[validator]
## If you are a validator
name = [Desire Validator Name]
keyfile = [Your comx key name]
interval = [Weight Update Frequency (seconds)] #This is recommend to align with the subnet tempo (800 s)
isTestnet = 1 #Whether using commune testnet: 1 means testnet; others means mainnet

[api]
url = [The trade services url] 
For testnet: url = http://47.236.87.93:8000/  
mainnet: url = http://8.219.104.233:8000/
